.player {
	width: 80%;
	max-width: calc(100vw - 4rem);
	min-height: calc(100vh - 5rem);
	display: flex;
	flex-flow: column nowrap;
	margin: 2.4rem auto;
	padding: 3rem 1.25rem;
	background: var(--bg);
	border-radius: 15px;
	border: 1px solid rgb(223, 223, 223);
}