* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;

	--bg: #333333;
	--black: #ebebebe8;
	--prog: #0c9ace;
}

body {
	background: var(--bg);
	color: var(--black);
}

a {
	text-decoration: none;
}