* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;

	--bg: #333333;
	--fg: #ebebebe8;
	--prog: #0c9ace;
}

body {
	background: var(--bg);
	color: var(--fg);
}

button {
	all: unset;
}

input {
	display: none;
}

p {
	flex: 1 1 100%;
	margin-right: 0.8rem;
	padding-bottom: 0.8rem;
	white-space: nowrap;
	overflow-x: auto;
}

.player {
	width: 100%;
	max-width: 360px;
	min-height: calc(100vh - 5rem);
	max-height: calc(100vh - 5rem);
	margin: 2.4rem auto;
	padding: 0.64rem;
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
}

.header {
	height: 3rem;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

.songs {
	flex: 1 1 100%;
	overflow-y: auto;
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	padding: 0.2rem 0;
}

.song {
	text-overflow: ellipsis;
	padding: 0.4rem;
	margin: 0.2rem;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	border: 1px solid var(--fg);
	border-radius: 10px;
}

.song>button {
	flex: 1 1 12%;
	margin-right: 0.8rem;
}

.prog {
	padding: 10px 0;
}

.prog-time {
	padding: 3px 5px;
	color: var(--prog);
	font-weight: bold;
	display: flex;
	justify-content: space-between;
}

.prog-time>span {
	font-size: 0.95rem;
}

.prog-bar {
	margin: 0 4px;
	height: 10px;
	border-radius: 25px;
	border: 1px solid var(--fg);
}

.prog-bar-inner {
	height: 8px;
	background: var(--prog);
	border-radius: 25px;
}

.buttons {
	margin-top: 2rem;
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.button {
	color: var(--prog);
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--fg);
}

.button-sm {
	width: 1.8rem;
	height: 1.8rem;
}

.button-md {
	width: 2.5rem;
	height: 2.5rem;
}

.button-lg {
	width: 3.25rem;
	height: 3.25rem;
}
/* 
.prog-bar-inner {
	animation: timer 30s linear 0.1s infinite;
}

@keyframes timer {
	0% {
		width: 0%;
	}

	100% {
		width: 100%;
	}
} */